html {
    height: 100%;
}

body {
    background-color: rgba(0, 62, 129, 0.8);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.XD {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header {

    height: 118px;
    text-align: center;

}

nav {
    background-color: rgba(0, 0, 0, 0.69);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

main {
    height: 400px;
    text-align: center;
    padding-top: 80px;
}

footer {
    background-color: rgba(0, 0, 0, 0);
    padding-top: 50px;  
    padding-bottom: 50px;
}

h1 {
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif; 
}

a {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}


nav a {
    text-decoration: none;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

footer p {
    font-size: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.maps {
    padding-bottom: 100px;
}
